    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');/*importando a fonte do google fonts*/


    /*VARIAVEL GLOBAL*/
    :root{
        --azul-dnc: #0C70F2;
        --preto-dnc: #303030;
        --cinza-hover: #C9C9C9;

        --fonte-padrao: 'Inter';

    }






    body {
        margin: 0px; /*Margem externa*/
        padding: 0px; /*Margem interna*/
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        background-repeat: no-repeat;
    }
    #principal{
        width: 100%;
        height: 100px;
        border: 1px solid black;
        background-color: var(--preto-dnc);
        display: flex; /*Configurando a div toda <nav> como flex*/
        justify-content: space-between; /*Botao ficou do lado direito do <nav>*/
        align-items: center; /*centralizando o botao*/
        border-bottom: 1px solid #BABABA;
    }
    #menu {
        display: flex; /*Definindo que o menu tem tamanho flex*/
        width: 55%;
        justify-content: space-around; /*Distribuindo os elementos do menu de uma maneira igual*/
        align-items: center; /*alinhamento vertical de todos os itens (o menu fica posicionado no meio)*/
    
    }

    #principal div a { /*id PRINCIPAL dentro da div a, ou seja, essa configuração é somente para as tags <a> de link*/
        font-family: var(--fonte-padrao); /*configurando a fonte dentro da div menu*/
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-decoration: none; /*Tirar o underline do link*/
    }

    #principal div a:hover {/*mouse passando em cima de algum item*/
        color:var(--cinza-hover);
    }
    #principal button{
        margin-right: 5%;
        background-color: var(--azul-dnc);
        border: 0px;

        height: 40px;
        width: 80px;
        font-family: var(--fonte-padrao);
        font-size: 20px;
        font-weight: 600;
        color: white;

        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);/*criando a sombra no botao(horizontal,vertical,sombra,cor)*/
        cursor: pointer;/*Para aparecer o cursor do mouse onde ele passa*/
    }

        /*Seção principal do site*/

        section{
            display: flex;
            flex-direction: column; /*Definindo a seção como se fosse coluna*/
            align-items: center;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        header{
            color: white;
            font-family: var(--fonte-padrao);
        }

        header h1{
            text-align: center;
            text-transform: uppercase;
            font-size: 80px;
            font-weight: 800;
            
            margin-bottom: 20px;
        }
        header h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 100px;
        }
        header .invert{
            background-color: black;
            font-weight: bold;
            padding: 5px;
        }

        /*Formulario*/

        form {
            color: white;
            font-family: var(--fonte-padrao);
            font-size: 30px;
            font-weight: 600;
            width: 600px;
        }

        .form-group{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        form input{
            border-radius: 10px;
            height: 30px;
            border: 0px;
            font-size: 20px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.9);

        }

        form label{
            margin: 10px 0px 10px 0px;
        }

        form input::placeholder{
            color: rgba(57, 57, 57, 0.5);
        }

        .checkbox-itens label{
            font-size: 25px;
        }

        .checkbox-itens {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        input[type="checkbox"]{
            transform: scale(1.7);
        }

        input[type="submit"] {
            background-color: rgba(12, 112, 242, 0.9);
            width: 100%;
            height: 56px;
            font-size: 32px;
            color: white;
            margin-top: 100px;
            box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
            cursor: pointer;
        }

        /*Footer*/

        footer {
            width: 100%;
            background-color: var(--azul-dnc);
        }

        footer .linha1{ /*Criando coluna*/
            display: flex;
            justify-content: space-around;/*Dividindo o espaco das colunas*/
            align-items: center; /*Colocando todos os itens no meio*/
        }

        footer ul{
            list-style: none; /*Tirando a bolinha inicial*/
            margin: 0px;
            padding: 0px;
        }
        footer nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 330px;
        }

        footer h5{
            text-align: center;
            color: white;
            font-weight: 800;
            font-size: 18px;
            font-family: var(--fonte-padrao);
            background-color: var(--preto-dnc);
            border-radius: 10px;
            padding: 10px 10px 10px 10px;
            margin-bottom: 15px;
        }

        footer ul li{
            text-align: center;
            color: white;
            font-weight: 600;
            font-size: 18px;
            font-family: var(--fonte-padrao);
            margin: 20px 0px 20px 0;
        }

        footer ul li a{
            color: white;
            text-decoration: none;

        }

        footer ul li a:hover{
            color: var(--cinza-hover);
            
        }
        
        footer .endereco {
            font-weight: 600;
            font-size: 18px;
            font-family: var(--fonte-padrao);
            color: white;
            text-align: center;
            width: 20%;
        }

        footer .linha2{
            height: 35px;
            display: flex;
            justify-content: center;
            margin: 0px;
            padding: 10px;
        }

        footer .linha2 a{
            font-family: var(--fonte-padrao);
            font-size: 18px;
            font-weight: 600;
            color: white;
            text-decoration: none;
            padding: 5px;
            
        }

        footer .linha2 a:first-child{
            border-right: 3px solid white;
        }

        footer .linha2 a:hover{
            color: var(--cinza-hover);
        }

        @media only screen and (max-width: 600px){
            #principal {
                flex-direction: column;
                height: auto;
            }
            #menu {
                flex-direction: column;
                width: 100%;
                margin:0px;
            }
            #menu a{
                height: 50px;
                align-items: center;
                height: 50px;
            }
            #principal button{
                width: 100%;
                margin: 0px;
            }

            section h1{
                font-size: 38px;
            }
            section h2{
                font-size: 28px;
                padding-right: 15px;
                padding-left: 15px;
            }
            form {
                width: 95%;
                font-size: 20px;
            }
            .checkbox-itens label{
                font-size: 17px;
            }
        }